Thumbs.db

## Minecraft
/minecraft

## gradle
/.gradle
/gradle
/build
/gradlew*
/gradle.properties

## Forge
/CREDITS-fml.txt
/LICENSE-fml.txt
/LICENSE-new.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/README.txt
/forge*changelog.txt
/Paulscode IBXM Library License.txt
/Paulscode SoundSystem CodecIBXM License.txt

## Example mod
/src/main/java/com/example

## ForgeGradle
/run

## eclipse
/eclipse
/.settings
/.metadata
/.classpath
/.project
/bin

## intellij
/out
/.idea
/atlassian-ide-plugin.xml
/*.iml
/*.ipr
/*.iws

## Private Stuffs
/private.properties
/*.cmd

## Jars
*.jar
!/gradle/wrapper/gradle-wrapper.jar

